$lightGreen: #7ED56F;
$mediumGreen: #55C57A;
$darkGreen: #28B485;
$black: #000000;
$lightGrey: #F7F7F7;
$grey: #777;
$white: #FFFFFF;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;